<!DOCTYPE html>
<html>
<head>
  <title>Cwiczenie</title>
  <%= stylesheet_link_tag    'control_panel', media: 'all' %>
  <%= javascript_include_tag 'control_panel' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render partial: 'control_panel/navbar' %>
    <%= render partial: 'shared/flash' %>

    <%= yield %>

</body>
</html>
